In [2]:
from nltk.util import pad_sequence
from nltk.util import bigrams
from nltk.util import ngrams
from nltk.util import everygrams
from nltk.lm.preprocessing import pad_both_ends
from nltk.lm.preprocessing import flatten

In [3]:
text = [['I','need','to','book', 'ticket', 'to', 'Australia' ], ['I', 'want', 'to' ,'read', 'a' ,'book', 'of' ,'Shakespeare']]

In [4]:
list(bigrams(text[0]))

[('I', 'need'),
 ('need', 'to'),
 ('to', 'book'),
 ('book', 'ticket'),
 ('ticket', 'to'),
 ('to', 'Australia')]

In [5]:
list(ngrams(text[1], n=3))

[('I', 'want', 'to'),
 ('want', 'to', 'read'),
 ('to', 'read', 'a'),
 ('read', 'a', 'book'),
 ('a', 'book', 'of'),
 ('book', 'of', 'Shakespeare')]

In [7]:
import pandas as pd
from nltk import word_tokenize, sent_tokenize

df = pd.read_csv('realdonaldtrump.csv')
df.head()
trump_corpus = list(df['content'].apply(word_tokenize))

In [9]:
from nltk.lm.preprocessing import padded_everygram_pipeline
n=3
train_data, padded_sents = padded_everygram_pipeline(n, trump_corpus)

In [12]:
dir(train_data)

['__class__',
 '__del__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__name__',
 '__ne__',
 '__new__',
 '__next__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'close',
 'gi_code',
 'gi_frame',
 'gi_running',
 'gi_yieldfrom',
 'send',
 'throw']

In [ ]:
dir(padded_sents)

In [14]:
from nltk.lm import MLE
trump_model = MLE(n) # Lets train a 3-grams model, previously we set n=3
trump_model.fit(train_data, padded_sents)

In [21]:
len(trump_model.vocab)

63428

In [23]:
trump_model.vocab.lookup(['AssertionError', 'Arithmetic'])

('<UNK>', '<UNK>')

In [24]:
from nltk.tokenize.treebank import TreebankWordDetokenizer

detokenize = TreebankWordDetokenizer().detokenize

In [25]:
detokenize

In [26]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}

df = pd.DataFrame(d)

In [27]:
df.head()

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [28]:
type(df['one'])

pandas.core.series.Series

In [31]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [15]:
import csv
spamWriter = csv.writer(open('eggs.csv', 'w'))

listofstrings = [
    ['this is a test', 0],
    ['this, is, a, test', 1]
]

spamWriter.writerows(listofstrings)

In [16]:
def add(x, y):
    return x + y

In [18]:
def mult_adds(x, y, z):
    return add(x,y) * z

In [19]:
mult_adds(1,1,2)

4

In [1]:
teststring = "My drink was never empty, and he made some really great menu suggestions."

In [6]:
teststring.replace(",", "")

'My drink was never empty and he made some really great menu suggestions.'

In [7]:
my_dict = {}
my_dict

{}

In [8]:
my_dict['hello'] = 1

In [9]:
my_dict

{'hello': 1}

In [10]:
my_dict['hello'] += 1
my_dict

{'hello': 2}

In [4]:
from transformers import AutoTokenizer
import transformers
import torch

model = "meta-llama/Llama-2-7b-chat-hf"

tokenizer = AutoTokenizer.from_pretrained(model)
pipeline = transformers.pipeline(
    "text-generation",
    model=model,
    torch_dtype=torch.float16,
    device_map="auto",
)

sequences = pipeline(
    'I liked "Breaking Bad" and "Band of Brothers". Do you have any recommendations of other shows I might like?\n',
    do_sample=True,
    top_k=10,
    num_return_sequences=1,
    eos_token_id=tokenizer.eos_token_id,
    max_length=200,
)
for seq in sequences:
    print(f"Result: {seq['generated_text']}")

OSError: meta-llama/Llama-2-7b-chat-hf is not a local folder and is not a valid model identifier listed on 'https://huggingface.co/models'
If this is a private repository, make sure to pass a token having permission to this repo with `use_auth_token` or log in with `huggingface-cli login` and pass `use_auth_token=True`.

In [2]:
import pandas as pd
df = pd.DataFrame([
                ['2/1/10', 'aaa', 'zzz', 1, 1, 1, 'd'], 
                ['2/1/10', 'aaa', 'yyy', 1, 2, 5, 'o'],
                ['2/1/10', 'aaa', 'zzz', 2, 5, 2, 'd'],  
                ['2/5/10', 'bbb', 'xxx', 5, 5, 1, 'do'],
                ['2/5/10', 'ccc', 'www', 5, 5, 1, 'd'],
                ['2/5/10', 'ccc', 'www', 5, 5, 1, 'd'],
                ['2/5/10', 'ddd', 'vvv', 5, 5, 1, 'o'],
                ['2/6/10', 'aaa', 'zzz', 1, 1, 3, 'd']],
             columns = ['date', 'ticker', 'Name', 'NoShares',
                        'SharePrice', 'Volume', 'Relation'])

In [5]:
df.head()

     date ticker Name  NoShares  SharePrice  Volume Relation
0  2/1/10    aaa  zzz         1           1       1        d
1  2/1/10    aaa  yyy         1           2       5        o
2  2/1/10    aaa  zzz         2           5       2        d
3  2/5/10    bbb  xxx         5           5       1       do
4  2/5/10    ccc  www         5           5       1        d

In [11]:
df.groupby(['Name', 'date']).agg({'NoShares':'sum','Volume':'mean'})

             NoShares  Volume
Name date
vvv  2/5/10         5     1.0
www  2/5/10        10     1.0
xxx  2/5/10         5     1.0
yyy  2/1/10         1     5.0
zzz  2/1/10         3     1.5
     2/6/10         1     3.0

In [29]:
bdf = pd.read_csv('./nflstats/Basic_Stats.csv')
defdf = pd.read_csv('./nflstats/Career_Stats_Defensive.csv')

In [42]:
bdf = bdf[bdf['Current Status'] == 'Active']

In [53]:
bdf

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN
7,22.0,"Navarre , FL",1/31/1995,Clemson,Active,New York Jets,Rookie,77.0,Navarre HS,FL,"Leggett, Jordan",NaN,jordanleggett/2557885,TE,250.0,NaN
17,25.0,NaN,3/11/1992,Pittsburgh,Active,Washington Redskins,1st season,74.0,NaN,NaN,"Garner, Manasseh",NaN,manassehgarner/2553801,TE,220.0,NaN
35,29.0,"Dayton , OH",4/1/1988,Ohio State,Active,Carolina Panthers,8th season,71.0,Northmont HS,"Clayton, OH","Coleman, Kurt",20.0,kurtcoleman/494261,SS,200.0,NaN
37,26.0,"Rodeo , CA",7/28/1990,Ohio U.,Active,Oakland Raiders,4th season,72.0,De La Salle HS,"Concord, CA","Carrie, T.J.",38.0,t.j.carrie/2550164,SS,205.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17121,21.0,"Baton Rouge , LA",6/21/1995,Southern Mississippi,Active,New Orleans Saints,Rookie,76.0,NaN,NaN,"Tom, Cameron",NaN,camerontom/2559098,C,289.0,NaN
17140,37.0,"Wilson , NC",1/18/1980,North Carolina,Active,Carolina Panthers,16th season,79.0,Southern Nash HS,"Bailey, NC","Peppers, Julius",NaN,juliuspeppers/2505010,DE,287.0,NaN
17151,27.0,"Detroit , MI",2/25/1990,Western Michigan,Active,New York Jets,1st season,75.0,Airport HS,"Carleton, MI","Bishop, Freddie",56.0,freddiebishop/2542053,OLB,255.0,NaN
17155,29.0,"Dayton , OH",6/24/1987,Notre Dame,Active,Miami Dolphins,8th season,80.0,St. Thomas Aquinas HS,"Fort Lauderdale, FL","Young, Sam",NaN,samyoung/2508058,T,320.0,NaN
17157,28.0,"Richmond , VA",1/26/1989,Maryland,Active,Philadelphia Eagles,7th season,72.0,Stafford HS,VA,"Smith, Torrey",NaN,torreysmith/2495459,WR,205.0,NaN

In [54]:
defdf = defdf[defdf['Year'] == 2016]

In [55]:
defdf

,Player Id,Name,Position,Year,Team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return
6,l.t.walton/2552444,"Walton, L.T.",DE,2016,Pittsburgh Steelers,10,8,6,2,0.0,--,1,--,--,--,0.0,--
33,kurtcoleman/494261,"Coleman, Kurt",SS,2016,Carolina Panthers,15,95,66,29,1.0,0,7,4,1,57,14.2,37
40,t.j.carrie/2550164,"Carrie, T.J.",SS,2016,Oakland Raiders,16,25,22,3,0.0,--,4,1,0,14,14.0,14
49,nateallen/2508043,"Allen, Nate",DB,2016,Oakland Raiders,14,33,24,9,0.0,--,3,2,0,5,2.5,4
76,devantebausby/2553790,"Bausby, DeVante",CB,2016,Chicago Bears,4,12,11,1,0.0,--,0,--,--,--,0.0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23855,joekerridge/2556415,"Kerridge, Joe",RB,2016,Green Bay Packers,8,1,0,1,0.0,--,0,--,--,--,0.0,--
23888,dennispitta/497254,"Pitta, Dennis",TE,2016,Baltimore Ravens,16,1,1,0,0.0,0,0,--,--,--,0.0,--
23942,juliuspeppers/2505010,"Peppers, Julius",DE,2016,Green Bay Packers,16,23,15,8,7.5,--,3,--,--,--,0.0,--
23973,freddiebishop/2542053,"Bishop, Freddie",OLB,2016,New York Jets,4,9,5,4,0.0,--,1,--,--,--,0.0,--
23989,torreysmith/2495459,"Smith, Torrey",WR,2016,San Francisco 49ers,12,1,1,0,0.0,0,0,--,--,--,0.0,--

In [57]:
fulldf = bdf.merge(defdf, on='Player Id')
fulldf.head()

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,...,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return
0,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI",...,6,2,0.0,--,1,--,--,--,0.0,--
1,29.0,"Dayton , OH",4/1/1988,Ohio State,Active,Carolina Panthers,8th season,71.0,Northmont HS,"Clayton, OH",...,66,29,1.0,0,7,4,1,57,14.2,37
2,26.0,"Rodeo , CA",7/28/1990,Ohio U.,Active,Oakland Raiders,4th season,72.0,De La Salle HS,"Concord, CA",...,22,3,0.0,--,4,1,0,14,14.0,14
3,29.0,"Fort Myers , FL",11/30/1987,South Florida,Active,Miami Dolphins,8th season,72.0,Cape Coral HS,FL,...,24,9,0.0,--,3,2,0,5,2.5,4
4,24.0,"Kansas City , MO",1/15/1993,Pittsburg State,Active,Kansas City Chiefs,2nd season,74.0,Hogan Preparatory Academy HS,"Kansas City, MO",...,11,1,0.0,--,0,--,--,--,0.0,--

In [58]:
fulldf[fulldf['Current Team'] == 'Pittsburgh Steelers']

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,...,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return
0,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI",...,6,2,0.0,--,1,--,--,--,0.0,--
40,29.0,"Fort Thomas , KY",6/10/1987,Ohio U.,Active,Pittsburgh Steelers,9th season,73.0,Highlands HS,"Fort Thomas, KY",...,55,22,0.0,--,9,1,0,26,26.0,26
70,26.0,"Elmont , NY",12/25/1990,Towson,Active,Pittsburgh Steelers,2nd season,70.0,Royal Palm Beach HS,FL,...,5,11,0.0,--,0,--,--,--,0.0,--
74,25.0,"Columbus , OH",2/18/1992,Michigan State,Active,Pittsburgh Steelers,5th season,73.0,Groveport Madison HS,"Groveport, OH",...,1,0,0.0,0,0,--,--,--,0.0,--
127,24.0,"Lauderdale Lakes , FL",9/6/1992,Ohio State,Active,Pittsburgh Steelers,4th season,73.0,Plantation HS,FL,...,55,32,3.5,--,9,3,0,0,0.0,0
217,24.0,"Miami , FL",5/23/1993,Notre Dame,Active,Pittsburgh Steelers,4th season,78.0,Monroe HS,GA,...,28,9,4.0,--,3,--,--,--,0.0,--
266,24.0,"Raleigh , NC",8/11/1992,Tennessee,Active,Pittsburgh Steelers,4th season,79.0,Southeast Raleigh HS,NC,...,10,7,1.0,--,1,--,--,--,0.0,--
274,28.0,"Miami , FL",7/10/1988,Central Michigan,Active,Pittsburgh Steelers,8th season,70.0,Miami Norland HS,"Miami, FL",...,2,0,0.0,0,0,--,--,--,0.0,--
322,25.0,NaN,3/30/1992,Kent State,Active,Pittsburgh Steelers,3rd season,71.0,Reynoldsburg HS,OH,...,4,3,0.0,--,0,--,--,--,0.0,--
332,24.0,"Salisbury , NC",2/7/1993,South Carolina State,Active,Pittsburgh Steelers,2nd season,73.0,North Rowan HS,"Spencer, NC",...,18,9,2.0,0,0,--,--,--,0.0,--
342,29.0,"Media , PA",3/28/1988,Kansas,Active,Pittsburgh Steelers,6th season,73.0,Strath Haven HS,"Wallingford, PA",...,5,1,0.0,--,0,--,--,--,0.0,--
354,27.0,"East Orange , NJ",5/4/1990,Michigan,Active,Pittsburgh Steelers,4th season,69.0,Liberty HS,"Youngstown, OH",...,2,1,0.0,--,0,--,--,--,0.0,--
411,32.0,"Tallahassee , FL",1/1/1985,Louisville,Active,Pittsburgh Steelers,11th season,70.0,James R. Rickards HS,"Tallahassee, Fl",...,42,16,1.0,--,7,1,0,0,0.0,0
413,24.0,"Jackson , AL",3/31/1993,Auburn,Active,Pittsburgh Steelers,3rd season,73.0,Leroy HS,AL,...,4,4,0.0,0,0,--,--,--,0.0,--
418,26.0,"Forth Worth , TX",3/16/1991,Rice,Active,Pittsburgh Steelers,3rd season,74.0,Fossil Ridge HS,"Keller, TX",...,1,0,0.0,0,0,--,--,--,0.0,--
426,27.0,"Ganite City , IL",1/3/1990,Northern Iowa,Active,Pittsburgh Steelers,3rd season,72.0,Waynesville HS,MO,...,3,1,0.0,--,0,--,--,--,0.0,--
451,25.0,"Farmington Hills , MI",8/6/1991,Duke,Active,Pittsburgh Steelers,4th season,72.0,Charlotte Latin HS,NC,...,47,15,0.0,--,14,--,--,--,0.0,--
452,24.0,"East Haven , CT",12/22/1992,Temple,Active,Pittsburgh Steelers,2nd season,73.0,St. Joseph HS,"Trumbull, CT",...,16,4,0.0,--,0,--,--,--,0.0,--
494,26.0,"Fresno , CA",9/13/1990,Arizona,Active,Pittsburgh Steelers,6th season,71.0,Edison HS,"Fresno, CA",...,20,14,0.0,--,1,--,--,--,0.0,--
507,30.0,"Honolulu , HI",5/12/1987,California,Active,Pittsburgh Steelers,8th season,75.0,St. Louis HS,"Honolulu, HI",...,29,8,2.5,--,0,--,--,--,0.0,--
529,29.0,"Havelock , NC",3/14/1988,James Madison,Active,Pittsburgh Steelers,8th season,72.0,Churchland HS,"Portsmouth, VA",...,9,12,3.5,--,3,--,--,--,0.0,--
533,26.0,Essendon Australia,3/18/1991,Eastern Kentucky,Active,Pittsburgh Steelers,3rd season,77.0,Melbourne HS,"South Yarra, Australia",...,--,--,--,--,--,--,--,--,0.0,--
550,26.0,"Nash , TX",11/13/1990,Arkansas,Active,Pittsburgh Steelers,2nd season,74.0,Texas HS,"Texarkana, TX",...,1,0,0.0,0,0,--,--,--,0.0,--
576,24.0,"Miami Gardens , FL",12/23/1992,Louisville,Active,Pittsburgh Steelers,3rd season,70.0,Miami Northwestern HS,FL,...,1,0,0.0,0,0,--,--,--,0.0,--
748,29.0,"Pine Bluff , AR",8/26/1987,Arkansas State,Active,Pittsburgh Steelers,9th season,74.0,Pine Bluff HS,AR,...,1,0,0.0,0,0,--,--,--,0.0,--
755,35.0,"Lima , OH",3/2/1982,Miami (Ohio),Active,Pittsburgh Steelers,14th season,77.0,Findlay HS,OH,...,--,--,--,0,--,--,--,--,0.0,--
760,26.0,"Riverside , CA",2/18/1991,Nebraska,Active,Pittsburgh Steelers,5th season,73.0,Norco HS,CA,...,42,10,1.0,--,2,1,0,4,4.0,4
803,26.0,"Virginia Beach , VA",5/20/1991,Tennessee,Active,Pittsburgh Steelers,5th season,76.0,Ocean Lakes HS,"Virginia Beach, VA",...,1,0,0.0,0,0,--,--,--,0.0,--
804,26.0,"Virginia Beach , VA",5/20/1991,Tennessee,Active,Pittsburgh Steelers,5th season,76.0,Ocean Lakes HS,"Virginia Beach, VA",...,--,--,--,--,--,--,--,--,0.0,--
813,22.0,"Miami , FL",5/1/1995,Miami (Fla.),Active,Pittsburgh Steelers,2nd season,72.0,Miami Northwestern HS,FL,...,52,13,0.0,--,13,3,0,13,4.3,9
828,28.0,"Kingsport , TN",11/15/1988,Clemson,Active,Pittsburgh Steelers,6th season,71.0,Dobyns-Bennett HS,"Kingsport, TN",...,12,3,0.0,--,0,--,--,--,0.0,--
829,28.0,"Kingsport , TN",11/15/1988,Clemson,Active,Pittsburgh Steelers,6th season,71.0,Dobyns-Bennett HS,"Kingsport, TN",...,10,0,0.0,--,0,--,--,--,0.0,--
892,23.0,"Mckeesport , PA",6/4/1994,Penn State,Active,Pittsburgh Steelers,3rd season,79.0,South Allegheny HS,"McKeesport, PA",...,2,0,0.0,0,0,--,--,--,0.0,--
959,24.0,"Lithia , FL",12/10/1992,Miami (Fla.),Active,Pittsburgh Steelers,3rd season,75.0,Alonso HS,"Tampa, FL",...,21,8,2.5,--,0,--,--,--,0.0,--
991,24.0,"Macon , GA",2/12/1993,Kentucky,Active,Pittsburgh Steelers,3rd season,76.0,Wilkinson County HS,"Irwinton, GA",...,19,5,4.5,--,1,--,--,--,0.0,--
996,25.0,"Houston , TX",10/5/1991,Arkansas,Active,Pittsburgh Steelers,5th season,70.0,Thurgood Marshall HS,"Missouri City, TX",...,--,--,--,--,--,--,--,--,0.0,--
997,25.0,"Houston , TX",10/5/1991,Arkansas,Active,Pittsburgh Steelers,5th season,70.0,Thurgood Marshall HS,"Missouri City, TX",...,--,--,--,--,--,--,--,--,0.0,--
1001,27.0,"Haines City , FL",12/27/1989,Florida State,Active,Pittsburgh Steelers,5th season,73.0,Ridge Community HS,"Davenport, FL",...,37,10,2.0,--,0,--,--,--,0.0,--
1068,30.0,"Silver Spring , MD",2/26/1987,Maryland,Active,Pittsburgh Steelers,9th season,74.0,McDonogh HS,"Owings Mills, MD",...,4,0,0.0,0,0,--,--,--,0.0,--
1095,23.0,"Irmo , SC",10/19/1993,Mars Hill,Active,Pittsburgh Steelers,1st season,77.0,Richland Northeast HS,"Columbia, SC",...,1,0,0.0,--,0,--,--,--,0.0,--
1158,28.0,"Pittsburgh , PA",5/6/1989,Ohio State,Active,Pittsburgh Steelers,7th season,77.0,Peachtree Ridge HS,"Suwanee, GA",...,17,4,3.0,--,4,--,--,--,0.0,--
1187,39.0,"Akron , OH",5/4/1978,Kent State,Active,Pittsburgh Steelers,15th season,72.0,Coventry HS,"Akron, OH",...,39,14,5.0,--,1,1,0,0,0.0,0
1225,23.0,"Washington , DC",10/23/1993,Maryland,Active,Pittsburgh Steelers,2nd season,73.0,Maret School HS,"Washington, DC",...,55,15,1.5,--,5,1,0,0,0.0,0

In [ ]:
myList = [0,1,2,3,4,5,6,7,8,9]

In [59]:
# make a list with list comprehension
myList = [i for i in range(0,10)]
myList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# use a map function to square all values in myList

In [61]:
# use a map function to add 3 given lists (return a list)
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]

In [63]:
# sumlists
sumlists = list(map(lambda x,y,z: x+y+z, a, b, c))

In [64]:
sumlists

[12, 15, 18]

In [66]:
# take this list of strings and using map, do the following:
# 1. Create a list of words for each string
# 2. Create a list of word counts for each string
mylist = ["Hello my name is Mark",
          "What is your name?",
          "This exercise is boring"]

In [70]:
# list of lists
newlist = list(map(lambda x: x.split(), mylist))
newlist

In [79]:
# word count for each string
countlist = list(map(lambda x: len(x), newlist))

In [77]:
list(filter(lambda x: len(x.split()) < 5, mylist))

['What is your name?', 'This exercise is boring']

In [81]:
from functools import reduce

reduce(lambda acc,val: acc+val, list(filter(lambda x: x < 5, countlist)))

8